.container {
    position: relative;
    margin: auto;
}
  
.wrappert {
    height: 100%;
    width: 100%;
    display: table;
}
  
.wrapper {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
  
canvas {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: scale(-1, 1);
    width: 20%;
}

#validate-bar__parcent-bar {
    color: #4598d1;
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    margin-left: 5px;
    font-weight: bold;
    color: #4598d1;
}
  
#validate-bar__parcent-bar::after {
    content: '%';
    font-size: 20px;
    position: relative;
    color: #4598d1;
    bottom: 12px;
}
  

#validate-bar__parcent-bar2 {
    color: #4598d1;
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    margin-left: 5px;
    font-weight: bold;
    color: #4598d1;
}
  
#validate-bar__parcent-bar2::after {
    content: '%';
    font-size: 20px;
    position: relative;
    color: #4598d1;
    bottom: 12px;
}


#validate-bar__parcent-bar3 {
    color: #4598d1;
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    margin-left: 5px;
    font-weight: bold;
    color: #4598d1;
}
  
#validate-bar__parcent-bar3::after {
    content: '%';
    font-size: 20px;
    position: relative;
    color: #4598d1;
    bottom: 12px;
}